@font-face {
    font-family: Northwell;
    src: url(../fonts/Northwell.ttf);
  }

body {
    font-family: "Poppins", serif;
    background-color: white;
    box-sizing: border-box;
    margin: auto;
    padding: 0px;
}

nav {
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    background-color: white;
    padding: 0 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 20px;
/*     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  */
}

nav ul {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #5c5c5c;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    white-space: nowrap; 
    transition: color 0.3s ease, transform 0.3s ease; 
}
nav ul li a:hover {
    color: seagreen;
}

nav ul li .loginBt{
    background-color: seagreen;
    border-radius: 15px;
    color: white;
}
nav ul li .loginBt:hover{
    cursor: pointer;
    color: seagreen;
    background-color: white;
    border: 1px solid seagreen;
}


nav ul li {
    position: relative;
    height: 40px;
}

nav ul .menu::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 4px;
    background: seagreen;
    transition: width 0.3s ease, left 0.3s ease;
}

nav ul li:hover::after {
    width: 100%;
    left: 0;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}
.logo h1,p{
    font-weight: 500;
    color: #5c5c5c;
    transition: color 0.3s ease, transform 0.3s ease;
}
.logo h1 {
    font-size: 50px;
    margin-top: 5px;
}

.logo h1:hover {
    color: seagreen;
    transform: scale(1.1);
}

.hero {
    position: relative;
    background: url("../img/Hue-hero.jpg") no-repeat center/cover;
    height: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(117, 117, 117, 0.5);
}

.hero h1 {
    position: relative;
    z-index: 1;
    font-size: 150px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 5px;
    font-weight: 500;
    font-family: 'Northwell',serif;
}

.hero p {
    position: relative;
    z-index: 1;
    font-size: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-top: 20px;
    color: white;
}
.contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: nowrap; 
    overflow: hidden;
}
.contentContainer img{
width: 100%;
transition: ease-in-out 0.5s;
}
.contentContener img:hover{
    transform: scale(0.8);
    }

.slide,
.informationContainer {
    width: 50%;
    height: 500px;
    padding: 10px;
}


























@media (max-width: 700px) {
    nav ul {
        flex-direction: column;  /* Stack items vertically */
        align-items: flex-end;     /* Center the items horizontally */
        gap: 5px;   
        margin-top: 20px;            /* Adjust spacing between items */
    }

    nav ul li a {
        font-size: 10px; /* Optionally, adjust font size for smaller screens */
        padding: 8px;    /* Adjust padding for a more compact look */
    }
    .logo h1{
        font-size: 25px;
    }

}