/* -This is the CSS file for Hue Discovery website
-This file contains the styling for the website
---------------------------------------------------------
-Introduction part of Hue Discovery website
---------------------------------------------------------
/* Importing a custom font for the hero landing page */
@font-face {
  font-family: Northwell;
  src: url(../fonts/Northwell.ttf);
}

/* Apply box-sizing to all elements for consistent layout calculations */
* {
  box-sizing: border-box;
}

/* Styling the body of the webpage */
body {
  font-family: "Poppins", serif;
  margin: 0 auto;
  line-height: 28px;
  color: #333333;
  background-color: rgb(241, 241, 241);

}


/*---------------------------------------------------------
 HEADER STYLES
 ---------------------------------------------------------*/

/* Header container for navigation and branding */
.header-container {
  height: 100px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 10px 20px;
}

/*---------------Navigation bar part of the header ----------------*/

/* Navigation bar settings */
nav {
  height: 100px;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Navigation list styling */
nav ul {
  list-style: none;
  display: flex;
  height: 100%;
}

/* Navigation list item styling */
nav ul li {
  height: 100%;
  display: flex;
  align-items: center;
}

/* Styling navigation links */
nav ul li a {
  text-decoration: none;
  color: #5c5c5c;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 20px;
}

/* Navigation link hover effect */
nav ul li a:hover {
  background-color: white;
  color: seagreen;
}

/* Styling for the current active navigation link */
nav ul li .current {
  font-weight: bold;
  color: seagreen;
  background-color: white;
}

/*---------------Name branch part of the header ----------------*/
/* Login button styling */
nav ul li .loginBt {
  background-color: seagreen;
  border-radius: 30px;
  border: 1px solid seagreen;
  color: white;
  height: 50px;
  margin-left: 20px;
  transition: 0.3s ease-in-out;
}

/* Login button hover effect */
nav ul li .loginBt:hover {
  color: seagreen;
}

/* Name branch - Logo styling */
.logo {
  display: flex;
}

/* Logo text styling */
.logo h2,
p {
  font-weight: 500;
  color: #5c5c5c;
  transition: color 0.3s ease, transform 0.3s ease;
}

.logo h2 {
  font-size: 50px;
  margin: 5px;
}

/* Logo hover effect */
.logo h2:hover {
  color: seagreen;
  transform: scale(1.1);
}

/*---------------Hero part of the header ----------------*/
/* Hero section styles */
.hero {
  position: relative;
  background: url("../img/Hue-hero.jpg") no-repeat center/cover;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

/* Hero section overlay */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(117, 117, 117, 0.5);
}

/* Hero heading styles */
.hero h1 {
  position: relative;
  font-size: 150px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin-bottom: 5px;
  font-weight: 500;
  font-family: "Northwell", serif;
}

/* Hero paragraph styling */
.hero p {
  position: relative;
  font-size: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin-top: 20px;
  color: white;
  background-color: rgba(139, 139, 139, 0.603);
  border-radius: 15px;
  padding: 4px 20px;
}

/* Hero book now button styling */
.hero .book-now-btn {
  z-index: 1;
  font-size: 20px;
  background-color: seagreen;
  text-decoration: none;
  padding: 20px 30px;
  border-radius: 40px;
  border: 1px solid seagreen;
  color: white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
  transition: 0.3s ease-in-out;
}

/* Book now button hover effect */
.hero .book-now-btn:hover {
  background-color: white;
  color: seagreen;
  border: seagreen 1px solid;
  transform: scale(1.2);
}

/*---------------------------------------------------------
 MAIN CONTENT STYLES
 ---------------------------------------------------------*/
/* Main content container styling */
.content-container {
  margin: auto;
  text-align: center;
}

/* Main content header text styling */
.content-container .header-text {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  text-decoration: underline;
  margin-top: 20px;
}

/* Highlight text styling */
.content-container .highlight-text {
  color: red;
}

/* Content wrapper styling */
.content-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px;
}

/* Content container styling */
.content-tab {
  width: 23%;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Content image styling */
.content-tab img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transition: ease-in-out 0.5s;
}

/* Content tab image hover effect */
.content-tab img:hover {
  transform: scale(0.9);
}

/* Content tab figcaption styling */
.content-tab figcaption {
  color: #000000;
  text-align: center;
}

/* Read more button container styling*/
.content-tab .btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Read more button styling */
.content-tab .read-more-btn {
  background-color: seagreen;
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid seagreen;
  color: white;
  height: 50px;
  padding: 10px 20px;
  margin-bottom: 20px;
  transition: 0.3s ease-in-out;
}

/* Read more button hover effect */
.content-tab .read-more-btn:hover {
  background-color: white;
  color: seagreen;
  border: seagreen 1px solid;
  transform: scale(1.1);
}

/* ---------------------------------------------------------------------------------------------- */

.header-table-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  width: 100%;
  max-height:600px;
  padding: 20px;
  background-color: white
}

.header-table-text-container .header-text {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  margin: 10px;
  line-height: 1.2;
}
.header-table-text-container p{
  text-align: justify;
}
/* Highlight text styling */
.header-table-text-container .highlight-text {
  color: red;
}
.header-table-img-container{
overflow: hidden;
border-radius: 20px;
}
.header-table-text-container img {
  max-height:400px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transition: ease-in-out 0.5s;
}

/* Content tab image hover effect */
.header-table-text-container img:hover {
  transform: scale(1.3);
}

/* Content tab figcaption styling */
.header-table-text-container figcaption {
  color: #000000;
  text-align: center;
}






/* Table Recommended Itineraries Styling  ---------------------------------------------------------------------*/

#intineraries {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.table-part-container {
  width: 100%;
  display: flex;
  align-items: center;
flex-direction: column;
}

.intinerary-table-container {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 80%;
  min-height: 400px;
}

.recommended-intineraries-table {
  width: 100%;
  margin: auto;
  background-color: white;
  border-collapse: collapse;
  min-height: 400px;
  border: #000000 1px solid;
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in-out 0.3s;
}


.recommended-intineraries-table th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.recommended-intineraries-table th {
  background-color: seagreen;
  color: white;
  padding: 20px;
  text-align: center;
}
.recommended-intineraries-table .center-text-column {
  color: white;
  padding: 20px;
  text-align: center;
}

.recommended-intineraries-table tr:hover {
  background-color: rgb(241, 241, 241);
}

.recommended-intineraries-table .read-more-btn {
  text-wrap: nowrap;
  background-color: seagreen;
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid seagreen;
  color: white;
  height: 50px;
  padding: 10px 20px;
  transition: 0.3s ease-in-out;
}

.recommended-intineraries-table .read-more-btn:hover {
  background-color: white;
  color: seagreen;
  border: seagreen 1px solid;
  transform: scale(1.1);
}



/*---------------------------------------------------------
 FOOTER STYLES
---------------------------------------------------------*/
/* Footer styling */
.footer-container {
  margin: auto;
  background-color: rgba(170, 170, 170, 0.212);
  padding: 40px 20px;
  border-top: 2px solid seagreen;
}

/* Footer content layout */
.footer-container .footer-content {
  margin: auto;
  display: flex;
  justify-content: center;
  max-width: 1400px;
  flex-wrap: wrap;
}

/* Footer tab styling */
.footer-container .footer-content .quick-link {
  width: 30%;
  padding: 10px;
  box-sizing: border-box;
}
.footer-container .footer-content .contact {
  width: 30%;
  padding: 10px;
  box-sizing: border-box;
}
.footer-container .follow {
  display: block;
  padding-left: 200px;
}
/* Footer header text styling */
.footer-header-text {
  font-size: 20px;
  color: seagreen;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 600;
  position: relative;
}

/* Footer header underline */
.footer-header-text::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

/* Footer link styles */
.footer-link {
  text-decoration: none;
  color: rgb(136, 136, 136);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  display: block;
  transition: color 0.3s ease-in-out;
}

.footer-link:hover {
  color: seagreen;
}

/* Social media icon styles */
.icon {
  font-size: 30px;
}

/* Social media container link styles */
.social-media-container {
  display: flex;
  align-items: center;
}

/* Social media button styles */
.social-media {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 50px;
  width: 50px;
  margin: 5px;
  background-color: seagreen;
  border-radius: 50%;
  border: 1px solid seagreen;
  transition: 0.3s ease-in-out;
}

/* Social media hover effect */
.social-media:hover {
  color: seagreen;
  background-color: white;
  border: 1px solid seagreen;
  transform: scale(1.2);
}

/* Copyright section */
.copyright {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: rgb(136, 136, 136);
  font-size: 14px;
}

/* Responsive design */
@media (max-width: 768px) {
  .footer-container .footer-content .footer-tab {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .footer-header-text::before {
    left: 50%;
    transform: translateX(-50%);
  }

  .social-media-container {
    justify-content: center;
  }
}
/*---------------------------------------------------------
CONTACT US PAGE STYLING.
 ---------------------------------------------------------*/
 .contact-hero {
  position: relative;
  background: url("../img/contact-hero1.jpg") no-repeat center/cover;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-size: cover;
}
/* Hero section overlay */
.contact-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(170, 170, 170, 0.5);
}

.contact-form {

  position: absolute; /* Make it positionable inside the hero section */
  top: 50%; /* Position it vertically */
  left: 70%; /* Position it horizontally */
  transform: translate(-50%, -50%); /* Adjust for centering */
  width: 80%; /* Adjust the width of the form */
  background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
  padding: 20px;
  border-radius: 10px;


  width: 50%;
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
}

/* Header text container styling */
.contact-page-header-text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 20px;
  align-items: end;
  margin-bottom: 20px;
}

/* Heading styling for contact form */
.header-text {
  text-align: center;
}

.style3 {
  margin-top: 0px;
  color: red;
  font-size: 25px;
}

.style2 {
  margin-bottom: 10px;
  color: seagreen;
  font-size: 35px;
  font-weight: bold;
}

.icon-message {
  color: forestgreen;
  font-size: 50px;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Styling for description text */
.paragraph-text-style {
  color: seagreen;
  text-align: left;
}

.form-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

/* Styling for group lable and input */
.form-group {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
  color: seagreen;
  font-weight: 500;
}

/* Styling for textarea and input elements */
.form-group input,
.form-group textarea {
  width: 100%;
  max-width: 100%;
  margin: auto;
  padding: 10px;
  border: 1px solid #868686;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Styling for Message textarea about height*/
.form-group textarea {
  height: 200px;
}

/* Styling for submit button*/
.submit-button {
  background-color: seagreen;
  color: white;
  padding: 10px 30px;
  border: 1px solid seagreen;
  cursor: pointer;
  font-weight: bold;
  border-radius: 30px;
  transition: 0.3s ease-in-out;
}

/* Hover effect for the "submit" button */
.submit-button:hover {
  background-color: white;
  color: seagreen;
  transform: scale(1.2);
}
.margin-top200{
  margin-top: 200px ;
}
/*---------------------------------------------------------
BOOKING PAGE STYLING.
 ---------------------------------------------------------*/
/* Hero section styles */

.booknow-hero {
  position: relative;
  background: url("../img/hero-bk.png") no-repeat center/cover;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-size: cover;
}

/* Hero section overlay */
.booknow-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(117, 117, 117, 0.5);
  z-index: 0;
}
.content-hero{
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hero heading styles */
.content-hero h2 {
  font-size: 150px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-weight: 500;
  font-family: "Northwell", serif;
  z-index: 1;
  line-height: 80px;
}

/* Hero paragraph styling */
.content-hero p {
  font-family: "Poppins", serif;
  font-size: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  line-height: 30px;
  margin-bottom: 20px;
  color: white;
  background-color: rgba(139, 139, 139, 0.603);
  border-radius: 15px;
  padding:4px 10px;
  max-width: 80%;
  margin: auto;
}

/* Call-to-action button styles */
.content-hero .cta-button {
  line-height: 100px;
  font-family: "Poppins", serif;
  background-color: #ff6f61;
  border: none;
  color: white;
  padding: 15px 30px;
  font-size: 1.25rem;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px; /* Smooths out the button edges */
  transition: background-color 0.3s ease;
}

/* CTA button hover effect */
.content-hero .cta-button:hover {
  background-color: #d45d53; /* Darken on hover */
}


/* Booking form styles -------------------------------------------------------------------------------------------------------------------------------------*/

.booknow-content-wrap{
  width: 70%;
  display: flex;
  align-items: center;
  margin: auto;
}


.booking-form {
  width: 50%;
  background-color: white;
  padding: 30px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.booking-form h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.booking-form label {
  display: block;
  margin: 10px 0 5px;
  font-size: 1rem;
}

.booking-form input, .booking-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.booking-form textarea {
  resize: vertical;
}

.booking-form button {
  background-color: #ff6f61;
  border: none;
  color: white;
  padding: 15px 30px;
  font-size: 1.25rem;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
}

.booking-form button:hover {
  background-color: #d45d53;
}

/* Testimonials styles */
.testimonials {
  background-color: #f0f0f0;
  padding: 30px;
  text-align: center;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.testimonial {
  width: 100%;
  background-color: white;
  margin: 15px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.testimonial p {
  font-style: italic;
}


/* ABOUT US------------------------------------------------------------- */
/* Hero section styles */

.aboutus-hero {
  position: relative;
  background: url("../img/aboutus-hero.jpg") no-repeat center/cover;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-size: cover;
}

/* Hero section overlay */
.aboutus-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(117, 117, 117, 0.5);
  z-index: 0;
}
/* Hero heading styles */
.aboutus-hero h2 {
  font-size: 150px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-weight: 500;
  font-family: "Northwell", serif;
  z-index: 1;
  line-height: 80px;
}

/* Hero paragraph styling */
.aboutus-hero p {
  font-family: "Poppins", serif;
  font-size: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  line-height: 30px;
  margin-bottom: 20px;
  color: white;
  background-color: rgba(139, 139, 139, 0.603);
  border-radius: 15px;
  padding:4px 10px;
  margin: auto;
}



/* About Us Section */
.about-us {
  background-color: #fff;
  padding: 60px 20px;
}

.about-us h2 {
  font-size: 2.5rem;
  color: #5e4b3c;
  text-align: center;
}

.about-us-content {
  max-width: 900px;
  margin: 0 auto;
  text-align: left;
}

.about-us h3 {
  font-size: 1.8rem;
  color: #333;
  margin-top: 30px;
}

.about-us p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-us ul {
  list-style: none;
  padding: 0;
}

.about-us ul li {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
